<h1 class='text-center'>ダイレクトメッセージ一覧</h1>

<% if @or_messages.any? %> <!--両者が送ったメッセージがどちらかあれば-->
    <% @or_messages_users.each do |user| %> <!--メッセージを送り合っているユーザーそれぞれ-->
        <%= link_to user_messages_path(user) do %>
            <p class="small-talk-picture mb-0"><%= link_to image_tag user.picture.url if user.picture? %></p>
            <p class='talk-name m-0'><%= link_to user.name, user_messages_path(user) %></p>
            <p><%= user.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
        <% end %>
    <% end %>
<% else %>
    <h1 class='no-user text-center mt-5'>メッセージを送ったユーザーはいません。</h1>
<% end %>

