<div class="text-center mb-5">
  <h2>Ukulele Match</h2>
  <h2>新規登録画面</h2>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'form' %>
    <div class="text-center mb-5 mt-3">
        <%= link_to '登録済みの方はこちら', login_path %> <!--#-->
    </div>
  </div>
</div>