<div class="top-page container d-flex align-items-center">
	<div class="row text-center mx-auto">
	  <h4 class="col-12 mb-3">Ukuleleプレイヤーのマッチングサービス</h4>
    <h1 class="col-12 mb-3">Ukulele Match</h1>
    <p class="col-12">ウクレレを共に弾く仲間を作りませんか？</p>
    <div class="col-12 text-center">
      <button class="btn btn-success">仲間を作る！</button>
    </div>
	</div>
</div>