// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  height: auto;
}

body{
  	background-image: image-url("youth-570881_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    color: white;
}

a:hover{
  text-decoration: none;
}

.body-container{
  padding-top: 100px;
  margin-bottom: 100px;
}

.pagenation{
  margin: 0 auto;
}

.fa-envelope{
  font-size: 40px;
  color: rgba(255,255,255,0.5);
}

.fa-envelope:hover{
  color: rgba(255,255,255,0.8);
}

.user-index{
  width: 50%;
}

.opacity-class{
  opacity : 0.7; 
}

.nav-samll-text{
  font-size: 13px;
}

.nav-icon img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
}

.nav-icon img:hover{
  opacity: 0.7;
}

.small-picture img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-name{
  font-size: 30px;
  color: black;
}

.user-intro{
  font-size: 20px;
}

.user-show-link{
  overflow: hidden;
  position: relative;
}

.user-show-link:hover{
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  transition: 0.5s;
}

.hidden-class{
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.4);	
	transition: all 0.2s;
	display: flex;
  justify-content: center;
  flex-direction: column;
}

.hidden-class:hover{
  opacity: 1;
}

.hidden-text{
  color: white;
  font-size: 35px;
}

.user-show-name{
  font-size: 35px;
}

.user-show-int{
  font-size: 18px;
}

.user-show-introduce{
  height: 190px;
  padding: 10px;
}

.message-icon{
  font-size: 60px;
}

.user-index{
  font-size: 25px;
}

.form-parent{
  position: relative;
}
  
.submit-btn{
  position:absolute;
  right: 15px;
}

.talk-room{
  padding: 12px;
}

.no-user{
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 20px;
}

@media(max-width:1024px){
  .user-index{
    width: 100%;
    margin: 0;
  }
  
  .user-show img{
    width: 80px;
    height: 80px;
  }
  
  .follow-button a{
    font-size: 18px;
    padding: 5px;
  }
  
  .talk-room{
    padding: 8px;
  }
}

@media(max-width:767px){
  .user-index{
    width: 90%;
    margin: 0;
  }
  
  .user-index-name{
    font-size: 25px;
  }
  
  .user-name,
  .user-intro,
  .user-show-name{
    font-size: 25px;
  }
  
  .user-intro input{
    font-size: 10px;
  }
  
  .user-show img{
    width: 60px;
    height: 60px;
  }
  
  .user-index img{
    width: 80px;
    height: 80px;
    border: solid 5px black;
  }
  
  .user-show-int{
    font-size: 15px;
  }
  
  .follow-button a{
    font-size: 15px;
    padding: 1px;
    margin-bottom: 10px;
  }
  
  .user-show-introduce{
    height: 150px;
    padding: 5px;
  }
  
  .message-icon{
    font-size: 50px;
  }
  
  .follow-button{
    font-size: 11px;
    padding: 5px;
  }
  
  .talk-room{
    padding: 5px;
  }
}

@media(max-width: 568px){
  .talk-top{
    font-size: 25px;
  }
  
  .talk-name{
    font-size: 12px;
  }
  
  .top-page{
    position: relative;
    top: 40px;
  }
  
  .small-talk-picture img{
    width: 30px;
    height: 30px;
  }
  
  .talk-text{
    font-size: 10px;
  }
  
  .talk-form h4{
    font-size: 18px;
  }
  
  .text_field{
    width: 70%;
  }
}